html{
	font-size: 10px;
}

body{
	margin: 0;
	padding: 0;
	font-family: "PTSans", "Arial", sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.6rem;
	color: #000;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: #000;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

.container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Базовые стили*/

.main-navigation{
	position: relative;
	font-weight: 700; 
}

.logo{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
}

.site-navigation{
	min-height: 5.6rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 7.2rem;
	margin: 0;

	list-style: none;

	background-color: #fff;
}

.site-navigation li:nth-child(2){
	margin-right: auto;
	margin-left: 14.4rem;

}

.site-navigation li:nth-child(3){
	
	margin-right: 14.4rem;
}

.site-navigation a:hover,.site-navigation a:focus{
	color: #81b3d2;
}

.site-navigation a:active{
	color: #cacaca;
}

.site-navigation-current{
	color:#766357;
}

/*Навигация*/

.intro {
	min-height: 50.8rem;

    display: flex;
    background: url(../img/backgrounds/index-bg.jpg) 0 -56px no-repeat #81b3d2;
    background-size: cover;
    margin-bottom: 8rem;
}

.mask{
	position: relative;
}

.intro .mask::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 1200px;
    height: 57px;
    background: url(../img/backgrounds/index-mask.png) bottom left no-repeat;
}

.welcome-img{
	display: block;
	width: 45.8rem;
	height: 35.2rem;
	margin: 0 auto;
	margin-top: 8rem;
}

/*Интро*/

.title{
	font-size: 2.1rem;
	font-weight: 700;
	line-height: 2.6rem;
}

.reasons > .title{
	margin-bottom: 3rem;
}

.footnote{
	margin-bottom: 5rem;
}

.banner{
	margin-bottom: 4.4rem;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.banner-signature{
	width: 34%;
	height: 15.8rem;
	padding-top: 4.4rem;
	padding-bottom: 5.1rem;
	
	color: #fff;
	line-height: 2.1rem;
	background-color: #81b3d2;*/
}

.banner-signature:first-child{
	margin-right: -4px;

}

.banner-img{
	width: 66%;
}

.banner-img img{
	width: 79.6rem;
}

.features{
	margin-bottom: 7.5rem;
}

.features-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;

	padding: 0;
	list-style: none;
}
	
.feature-item{
	width: 33%;
	padding-top: 11rem;
}

.feature-item:first-child{
	background: url(../img/icons/icon-1.svg) no-repeat 50% 10%;
}

.feature-item:nth-child(2){
	background: url(../img/icons/icon-2.svg) no-repeat 50% 10%;
}

.feature-item:last-child{
	background: url(../img/icons/icon-3.svg) no-repeat 50% 10%;
}


.reason{
	min-width: 120rem;
	padding-bottom: 6rem;

	background-color: #eeeeee;
}

.reasons-list{   

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	padding-top: 3rem;

	padding: 0;
	list-style: none;
}

.reason-item{
	width: 33%;
}

.reason-item p {
	color: #333333;
}

/*Блок с причинами*/

.search-form{
	position: relative;

	min-height: 21rem;
	padding-top: 5rem;

	text-align: center;
}

.search-form h3{
	font-size: 3rem;
	line-height: 3.6rem;
	font-weight: 700;
}

.search-form p{
	margin: 3.5rem 0;

	color: #333333;
}

.btn-open{
	border: none;
	padding: 3rem 12.6rem;

	font-size: 2.1rem;
	line-height: 2.6rem;
	color: #fff;
	text-transform: uppercase;
	
	background-color: #766357;
	z-index: 2;
}

.btn-open:hover{
	background-color: #604e43;
}

.btn-open:focus{
	background-color: #503e33;
	color: #857871;
}

.modal{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	width: 57rem;

	/*padding: 5.5rem;*/
	/*-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;*/

	text-align: center;

	outline: 3px solid green;
}

.form-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	margin: 0 auto;

	outline: 3px solid yellow;
}

.appointment-item label{
	margin-right: 2.5rem;
}

.appointment-item input{
	width: 34rem;
	height: 3.7rem;
	padding-left: 1rem;
	border:none;

	outline: 1px solid red;
}

.persons-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}




/*.modal{
	position: absolute;
	left:50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);

	width: 46.9rem;
	height: 25.8rem;
	padding: 6.9rem 5.5rem;

	font-weight: 700;
	z-index: 1;

	box-shadow: 5px 5px 5px 0px rgba(225, 224, 222, 0.3);

	background-color: #fff;

}

p.appointment-item{
	position: relative;
	margin: 0;
	margin-bottom: 30px;
}

label[for="in"]{
	display: inline-block;
	margin-right: 1.6rem;
	vertical-align: middle;
}

label[for="out"]{
	display: inline-block;
	margin-right: 1.2rem;
	vertical-align: middle;
}

label[for="adults"]{
	margin-right: 2.9rem;
}

.appointment-item input{
	width: 33rem;
	height: 3.9rem;
	padding-left: 1.5rem;
	border: none;
	
	font-weight: 700;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

.appointment-item input:hover{
	background-color: #ebebeb;
}

.appointment-item input:focus{
	background-color: #fff;
}


.calendar {
    position: absolute;
    right: 10px;
    bottom: 6px;
    fill: #cacaca;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.calendar:hover,  .calendar:focus {
    fill: #000000;
    outline: none;
}

.calendar:active{
	fill: #81b3d2;
	outline: none
}

.appointment-item:nth-child(3),.appointment-item:nth-child(4){
	display: inline-block;
	vertical-align: top;
	width: 49%;
}


.quantity input, .minus, .plus{
	width: 3.9rem;
	height: 3.9rem;
	border: none;
	padding: 0;

	text-align: center;
	font-weight: 700;
	margin-right: -6px;

}

.minus, .plus{
	color: #a9a9a9;
}

.minus:hover, .plus:hover,.minus:active, .plus:active{
	color: #000;
}

.minus:active, .plus:active{
	color: #81b3d2;
}

.appointment-item:nth-child(4) .quantity{
	margin-right: -4.9rem;
	margin-left: 2rem;
}

.appointment-item:nth-child(3),.appointment-item:nth-child(4){
	margin-bottom: 3rem;
}

.search{
	width: 46.9rem;
	padding: 2.3rem 0;
	border: none;

	font-size: 2.1rem;
	line-height: 2.6rem;
	color: #fff;
	text-transform: uppercase;
	
	background-color: #81b3d2;
}

.search:hover{
	background-color: #669ec0;
}

.search:focus{
	color: #88b6d1;
	background-color: #5496bd;
}


*/



/*Блок с формой  и  окном*/

.map{
	position: relative;
	min-height: 47rem;
	min-width: 120rem;
}

.map iframe{
	position: absolute;
	min-width: 1200px;
	min-height: 47rem;

	left:50%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
	border: none;
}

/*Блок с картой*/

.main-footer{
	position: relative;
	bottom: 0;
	
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;

	min-height: 11rem;
	min-width:12rem;
}

.footer-item{
	width: 35rem;
}

.hashtag {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 2.1rem;
	font-weight: 700;
}

.footer-social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	margin: 0 auto;

	list-style: none;
}

.social-btn{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	width: 5rem;
	height: 5rem;

	margin-right: 0.6rem;

	background-color: #81b3d2;
}

.social-btn:hover, .social-btn:focus{
	background-color: #669ec0;
}

.social-btn:active{
	background-color: #5496bd ;
}

.social-btn path:active{
	fill: #88b6d1;
}

.copyright{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright p {
	margin-right: 6px;
}

.logo-link path:hover, .logo-link path:focus{
	fill: #81b3d2;bdbbbc
}

.logo-link path:active{
	fill: #bdbbbc;
}

/*Блок с подвалом*/


/*Начало стилизации страницы hotel.html*/


.filters form{
	min-height: 20rem;
	background: #00BFFF url(../img/backgrounds/hotel-bg.jpg) no-repeat 50% 18%;
	-webkit-background-size: cover;
	background-size: cover;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;

	padding: 0 7.2rem;
	padding-top: 2.5rem;
}

.filter-option {
    margin-bottom: 25px;
}

.filter-input-checkbox{
	position: relative;
}

.filter-option label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.filter-input-checkbox + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 23px;
    height: 23px;
    background-image: url("../img/icons/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 27px;
    height: 23px;
    background-image: url(../img/icons/checkbox-on.svg)
}

.filters legend{
	font-size: 1.6rem;
	font-weight: 700;
	color: #fff;
}

.filters fieldset{
	border: none;
}

.filters fieldset:nth-child(2){
	margin-right: auto;
	margin-left: 9rem;
}

.filter-list{
	padding: 0;

	text-align: left;
	list-style: none;
}


.filter-option label{
	color: #fff;
}

.filter-range {
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/*Блок с фильтрами*/

.sorting-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	padding: 3rem 7.2rem;
	margin: 0;

	list-style: none;
}

.sort-item{
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 700;
}

.sort-item a{
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 700;
	color: #b2b2b2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover{
	color: #81b3d2;
}

.sort-item a:focus{
	color: #81b3d2;
	border:none;
}

.sort-item a:active{
	color: #000;
	border:none;
}

.sort-item:first-child{
	margin-right: 4rem;
}

.sort-item:nth-child(2){
	margin-right: 3rem;
}

.sort-item:nth-child(3){
	margin-right: 2.5rem;
}

.sort-item:nth-child(4){
	margin-right: 2rem;
}

.sort-item:last-child{
	margin-left: auto;

}

button[class^="arrow"]{
	border:none;
	
	color: #cacaca;
	font-size: 2rem;

	background-color: transparent;

	cursor: pointer;
}

button[class^="arrow"]:hover,button[class^="arrow"]:focus{
	color: #000;
}

button[class^="arrow"]:active{
	color: #81b3d2;
}

.arrow-up{
	margin-right: 1.1rem;
}

/*Блок с сортировкой*/

.sorting-title, .result-title{
	margin: 0;
}

.result{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

	min-height: 9.2.8rem;
	padding: 3rem 7.2rem;

}

.result:first-child{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.result:nth-child(2){
	border-bottom: 1px solid #e5e5e5;
}

.result:last-child{
	border-bottom: 1px solid #e5e5e5;
}

.result-rait{
	margin-left: auto;
}

.result-img{
	height: 91px;
	margin-right: 2.8rem;
}

.result-title:hover, .result-title:focus{
	color: #81b3d2;
}

.result-title:active{
	color: #c7c7c7;
}

.about-link{
	display: block;

	padding: 0 1.2rem;
	margin-right: 6px;

	color: #fff;
	font-weight: 700;
	text-align: center;
	
	background-color: #81b3d2;
}

.about-link:hover, .about-link:focus{
	background-color: #669ec0;
}

.about-link:active{
	color: #88b6d1;
	background-color: #5496bd;
}

.booking-btn{
	display: block;

	padding: 0.5rem 1rem;
	border:none;

	color: #fff;
	font-weight: 700;
	text-transform: uppercase;

	background-color: #766357;
	cursor:pointer;
}

.booking-btn:hover, .booking-btn:focus{
	background-color: #604e43;
}

.booking-btn:active{
	color: #857871;
	background-color: #503e33;
}


.card-column{
	display: inline-block;
	width: 13rem;
	vertical-align: middle;
}

.type-price{
	display: block;
	padding: 0.7rem 0;
	padding-top: 1.5rem;
}

/*Блок с результатами сортировки*/
