html{
	font-size: 10px;
}

body{
	margin: 0;
	padding: 0;
	font-family: "PTSans", "Arial", sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.6rem;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.1px;
}

a{
	text-decoration: none;
	color: #000;
}

.wrap {
  width: 120rem;
  margin: 0 auto;
  box-shadow: 0 0 1.5rem 0.5rem rgba(0,0,0,0.2);
  overflow-x: hidden;
}

.container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Базовые стили*/

.main-navigation{
	position: relative;
	font-weight: 700; 
}

.logo{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
}

.site-navigation{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;  
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 7.2rem;
	margin: 0;

	list-style: none;

	background-color: #fff;
}

.site-navigation li{
	padding-top: 1.4rem;
	padding-bottom: 1.6rem;
}

.site-navigation li:nth-child(2){
	margin-right: auto;
	margin-left: 13.3rem;

}

.site-navigation li:nth-child(3){
	
	margin-right: 14.4rem;
}

.site-navigation a{

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
}

.site-navigation a:hover,.site-navigation a:focus{
	color: #81b3d2;
}

.site-navigation a:active{
	color: #cacaca;
}

.site-navigation-current{
	color:#766357;
}

/*Навигация*/

.intro {
	min-height: 50.8rem;

    display: flex;
    background: url(../img/backgrounds/index-bg.jpg) 0 -56px no-repeat #81b3d2;
    background-size: cover;
    margin-bottom: 4.3rem;
}

.mask{
	position: relative;
}

.intro .mask::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 120rem;
    height: 5.7rem;
    background: url("../img/backgrounds/index-mask.png") bottom left no-repeat;
}

.welcome-img{
	display: block;
	width: 45.8rem;
	height: 35.2rem;
	margin: 0 auto;
	margin-top: 7.5rem;
}

/*Интро*/

.title{
	font-size: 2.1rem;
	font-weight: 700;
	line-height: 2.6rem;

	letter-spacing: -1px;
}

.reasons > .title{
	margin-bottom: 2.5rem;
	padding: 0 30rem;

	letter-spacing: -1.5px;
}

.footnote{
	margin-bottom: 5.3rem;

	letter-spacing: -0.8px;
}

.banner{
	margin-bottom: 0;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;

}

div.banner:first-child{
	margin-bottom: 4.4rem;
}

.banner-signature{
	flex-grow:1;
	flex-basis: 40rem;
	padding: 0 3rem;
	padding-top: 2.5rem;
	padding-bottom: 4.6rem;


	font-size: 1.4rem;
	color: #fff;
	line-height: 2.1rem;
	background-color: #81b3d2;

	vertical-align: top;
}

.title{
	letter-spacing: -1px;
	padding: 0 10rem;
}

.banner-signature:nth-child(2){
	padding-bottom: 4.7rem;
    padding-top: 4.5rem;

}

.banner-signature:nth-child(2) .title{
	margin-top: 0;
	padding: 0;
	letter-spacing: -2px;
}

.banner


.banner-img img{
	flex-grow: 2;
	height: 100%;
	margin: 0;
	flex-basis: 40rem;
	vertical-align: top;
}

.features{
	padding-bottom: 4.7rem;
}

.features-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	padding: 0;
	list-style: none;
}
	
.feature-item{
	flex-grow: 1;
	flex-basis: 15.6rem;
	padding: 0 5rem;
	padding-top: 11.3rem;
	
	letter-spacing: -1px;
}

.feature-item h3{
	margin-top: 2.8rem;
}
.feature-item:first-child{
	background: url(../img/icons/icon-1.svg) no-repeat 50% 25%;
}

.feature-item:nth-child(2){
	background: url(../img/icons/icon-3.svg) no-repeat 50% 25%;
}

.feature-item:last-child{
	background: url(../img/icons/icon-2.svg) no-repeat 50% 25%;
}


.reason{
	background-color: #eeeeee;
}

.reasons-list{   

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	padding: 0;
	list-style: none;
}

.reason-item{
	flex-grow:1;
	flex-basis: 18rem;
	padding: 0 5.5rem;
	padding-bottom: 4.3rem;
	padding-top: 2.5rem;
	font-size: 1.4rem;
	line-height: 2.1rem;

}

.reason-item h3{
	margin-top: 0.5rem;
	letter-spacing: -2.3px;
	padding: 0 7rem;
}

.reason-item p {
	color: #333333;
	margin-top: 2rem;
	letter-spacing: -0.5px;
}

/*Блок с причинами*/

.search-form{
	position: relative;

	border-top: 1px solid transparent;
	padding-top: 1.9rem;

	text-align: center;
}

.search-form h3{
	font-size: 3rem;
	line-height: 3.6rem;
	font-weight: 700;
	margin: 0;
	margin-top: 1.6rem;

	letter-spacing: -3px;
}

.search-form > p{
	margin-top: 2rem;
	margin-bottom: 4.7rem;

	color: #333333;
}

.btn-open{
	border: none;
	padding: 2.9rem 13.8rem 3.1rem;

	font-size: 2.1rem;
	line-height: 2.6rem;
	color: #fff;
	text-transform: uppercase;
	
	background-color: #766357;
	z-index: 2;

	letter-spacing: -1.5px;
}

.btn-open:hover{
	background-color: #604e43;
}

.btn-open:focus{
	background-color: #503e33;
	color: #857871;
}

.modal{
	opacity: 1;

	position: absolute;
	left:50%;
	transform:translateX(-50%);

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	width: 57rem;

	text-align: center;
	
	background-color: #fff;
	box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(225, 224, 222, 0.3);

	z-index: 1;

}

.modal-hide{
	opacity: 0;
}

.form-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	max-width: 56.7rem;
	margin: 0 auto;

}

.reservation-form{
	padding-top: 4.3rem;
	padding-bottom: 5.5rem;
}


.reservation-form label{
	cursor: pointer;
	font-weight: 700;

}

.appointment-item{
	position: relative;
}

.appointment-item label{
	margin-right: 1rem;
	letter-spacing: -0.2px;
}

.appointment-item{
	margin-bottom: 3rem;
}

.appointment-item input{
	width: 33rem;
	height: 3.6rem;
	padding-left: 1rem;
	border:none;
	color: #000;

	font-weight: 700;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

.appointment-item input:hover{
	background-color: #ebebeb;
}

.appointment-item input:focus{
	background-color: #fff;
}

::-webkit-input-placeholder {
	font-family: "PTSans",Arial,sans-serif;
	color:#000;}
::-moz-placeholder          {
	font-family: "PTSans",Arial,sans-serif;
	color:#000;}
:-moz-placeholder           {
	font-family: "PTSans",Arial,sans-serif;
	color:#000;}
:-ms-input-placeholder      {
	font-family: "PTSans",Arial,sans-serif;
	color:#000;}

.calendar {
    position: absolute;
    right: 4px;
    bottom: 6px;
    fill: #cacaca;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.calendar:hover,  .calendar:focus {
    fill: #000000;
    outline: none;
}

.calendar:active{
	fill: #81b3d2;
	outline: none
}

.persons-wrapper{
	height: 3.9rem;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
	align-items: center;


	margin: 0.3rem 0 3rem;
}

.minus, .plus, .quantity input{
	width: 3.7rem;
	height: 3.7rem;
	text-align: center;
	border: none;
	padding: 0;

	font-weight: 700;
	background-color: #f2f2f2
}

.minus, .plus{
	color: #a9a9a9;
}

.minus:hover, .plus:hover,.minus:active, .plus:active{
	color: #000;
}

.minus:active, .plus:active{
	color: #81b3d2;
}

.quantity input:hover,.minus:hover, .plus:hover{
background-color: #ebebeb;
}

.quantity input:focus{
	background-color: #fff;
}

.persons{
	width: 50%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.persons:last-child{
	width: 40%;
}

.quantity{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search{
	display: block;
	width: 100%;
	padding: 1.6rem 0rem;
	margin-top: 5rem;
	border: none;

	font-size: 2.1rem;
	line-height: 2.6rem;
	color: #fff;
	text-transform: uppercase;
	
	background-color: #81b3d2;
}

.search:hover{
	background-color: #669ec0;
}

.search:focus{
	color: #88b6d1;
	background-color: #5496bd;
}

/*Блок с формой  и  окном*/

.map{
	position: relative;
	min-height: 47rem;
	min-width: 120rem;
}

.map iframe{
	position: absolute;
	min-width: 120rem;
	min-height: 47rem;

	left:50%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
	border: none;
}

/*Блок с картой*/

.main-footer{
	position: relative;
	bottom: 0;
	
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;

	padding: 2.1rem 0;
	flex-basis: 40rem;
}

.footer-item{
	flex-grow: 1;
	flex-basis: 40rem;
}

.hashtag {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;

	padding-left:1rem;
	
	font-size: 2.1rem;
	font-weight: 700;

}

.hashtag p{
	margin: 0;
	letter-spacing: -2px;
}

.footer-social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	padding-left: 0rem;

	list-style: none;
}

.social-btn{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	width: 4.6rem;
	height: 4.8rem;

	margin-right: 0.6rem;

	background-color: #81b3d2;
}

.social-btn:hover, .social-btn:focus{
	background-color: #669ec0;
}

.social-btn:active{
	background-color: #5496bd ;
}

.social-btn path:active{
	fill: #88b6d1;
}

.copyright{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.copyright p {
	margin-right: 0.6rem;
	letter-spacing: -1px;
}

.logo-link svg{
	width: 11.5rem;
	height: 4.1rem;
}

.logo-link{
	margin-top: auto;
}

.logo-link path:hover, .logo-link path:focus{
	fill: #81b3d2;
}

.logo-link path:active{
	fill: #bdbbbc;
}

/*Блок с подвалом*/


/*Начало стилизации страницы hotel.html*/



.filters form{
	background: #00BFFF url(../img/backgrounds/hotel-bg.jpg) no-repeat 50% 18%;
	-webkit-background-size: cover;
	background-size: cover;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;

	padding: 0 7.2rem;
	padding-top: 2.5rem;
}

.filter fieldset{
	padding: 0;
}

.filter-option {
    margin-bottom: 2rem;
}

.filter-input-checkbox{
	position: relative;
}

.filter-option label {
    position: relative;
    padding-left: 4rem;
    cursor: pointer;

    color: #fff;
}

.filter-option label:focus{
	outline: 1px solid 
}

.filter-input-checkbox + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    background-image: url("../img/icons/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 2.7rem;
    height: 2.3rem;
    background-image: url("../img/icons/checkbox-on.svg")
}

.filters legend{
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2.1rem;
	color: #fff;

	text-align: left;
}

.filters fieldset{
	border: none;
}

.filters fieldset:nth-child(2){
	margin-right: auto;
	margin-left: 9rem;
}

.filter-list{
	padding: 0;

	text-align: left;
	list-style: none;
}

.filter-range {
  width: 31.5rem;
  margin-bottom: 3rem;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 0.9rem;

  text-align: left;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.price-controls {
  position: relative;
  
  height: 3.6rem;
  margin-bottom: 2rem;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 0.2rem;
  height: 2.2rem;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 1.4rem;
  line-height: 3.8rem;
  vertical-align: top;

  cursor: pointer;
}

.min-price label{
	padding-left: 0rem;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 9rem;
  padding-left: 4rem;
}

.price-controls input {
  width: 5rem;
  margin: 0;

  color: inherit;
  font: 1.4rem/2.1rem "PTSans",sans-serif;

  background: none;
  border: none;
}

.price-controls input[type=text]:focus {
    outline: 0;
}
.price-controls input::-webkit-input-placeholder {
    color: #fff;
}
.price-controls input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.price-controls input:-ms-input-placeholder {
    color: #fff;
}

.range-controls {
  position: relative;

  margin-bottom: 3.2rem;
}

.range-controls .scale {
  height: 0.2rem;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 0.2rem;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 0.4rem;
  height: 0.4rem;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 0.6rem 3.5rem;

  font-size: 1.4rem;
  line-height: 2rem;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  outline: 0;

  letter-spacing: -0.5px;
}

.btn-transparent:hover,.btn-transparent:focus {
  color: #000000;
	
  background: #ffffff;
}



/*Блок с фильтрами*/

.sorting-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	padding: 3.5rem 7.2rem;
	margin: 0;
	
	flex-basis: auto;
	list-style: none;
}

.sort-item{
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 700;
}

.sort-item a{
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 700;
	color: #b2b2b2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover,.sort-item a:focus{
	color: #81b3d2;
}

.sort-item a:active{
	color: #81b3d2;
}

.sort-item:first-child{
	margin-right: 4.8rem;
}

.sort-item:nth-child(2){
	margin-right: 3rem;
}

.sort-item:nth-child(3){
	margin-right: 2.5rem;
}

.sort-item:nth-child(4){
	margin-right: 2rem;
}

.sort-item:last-child{
	margin-left: auto;
}

.sort-item-current a{
	color: #81b3d2;
}

button[class^="arrow"]{
	border:none;
	padding: 0;
	
	color: #cacaca;
	font-size: 1.5rem;

	background-color: transparent;

	cursor: pointer;
}

button[class^="arrow"]:hover,button[class^="arrow"]:focus{
	color: #000;
}

button[class^="arrow"]:active{
	color: #81b3d2;
}

.sort-arrows{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.arrow-down{
	margin-left: 0.7rem;
}

.sorting-title, .result-title{
	margin: 0;
}

.sorting-title{
	max-width: 120px;

	font-size: 1.8rem;
}


/*Блок с сортировкой*/

.result{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

	padding: 2.8rem  7.2rem 3rem 7.2rem;
	border-top: 1px solid #e5e5e5;
}

.result:first-child{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.result:nth-child(2){
	border-bottom: 1px solid #e5e5e5;
}

.result:last-child{
	border-bottom: 1px solid #e5e5e5;
}

.result-img{
	height: 9rem;
	margin-right: 2.8rem;
}

.result-img img{
	height: 100%;
}

.result-info{
 border-collapse: collapse;
}

.result-title {
    font-size: 1.85rem;
    line-height: 2.6rem;
    font-weight: bold;

    text-align: left;
}

.result-row-text td{
	text-align: left;
	padding-bottom: 1rem;
}

.result-title a:hover, .result-title a:focus{
	color: #81b3d2;
}

.result-title a:active{
	color: #c7c7c7;
}

.about-link{
	margin-right: 0.4rem;
	padding: 0.5rem 1.5rem;

	color: #fff;
	font-weight: 700;
	text-align: center;
	letter-spacing: -1px;

	background-color: #81b3d2;

}

.about-link:hover, .about-link:focus{
	background-color: #669ec0;
}

.about-link:active{
	color: #88b6d1;
	background-color: #5496bd;
}

.booking-btn{

	padding: 0.5rem 1.5rem;
	border:none;

	color: #fff;
	font-weight: 700;
	text-transform: uppercase;

	background-color: #766357;
	cursor:pointer;

	letter-spacing: -1px;
}

.booking-btn:hover, .booking-btn:focus{
	background-color: #604e43;
}

.booking-btn:active{
	color: #857871;
	background-color: #503e33;
}


.result-rait{
	margin-left: auto;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;

	justify-content: space-between;

	text-align: right;
}

.rait-num{
background-color: #f2f2f2;
padding: 0 1rem;
margin-bottom: 0;
margin-top: 3.5rem;
}

/*Блок с результатами сортировки*/

